<div class="px-20">
  <h1 class="text-3xl my-5">Suivi des patients</h1>
<div class="border-[1px] rounded-md ">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th class="w-[85%]">Nom</th>
        <th class="w-[15%]">Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.name }}</td>
        <td class="flex gap-2 pr-0 items-center">
          <div class="w-3 h-3 rounded-full bg-[#0AD880]" [ngClass]="{'bg-[#0AD880]': patient.status === 'in_consultation', 'bg-[#F8AF26]': patient.status === 'waiting'}">
            <div class="w-3 h-3 rounded-full bg-[#0AD880] animate-ping" [ngClass]="{'bg-[#0AD880]': patient.status === 'in_consultation', 'bg-[#F8AF26]': patient.status === 'waiting'}"></div>
          </div>
          <span>{{ getStatus(patient.status) }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
