<div class="px-20">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl my-5">Liste des patients</h1>
    <app-modal-add-user></app-modal-add-user>
  </div>
  <app-modal-delete-user #deleteModal [patientId]="selectedPatient.id" [patientName]="selectedPatient.name"></app-modal-delete-user>
  <app-modal-edit-user #editModal [patientId]="selectedPatient.id" [patientName]="selectedPatient.name" [patientDate]="selectedPatient.apointmentDate" [patientStatus]="selectedPatient.status"></app-modal-edit-user>
  <div class="border-[1px] rounded-md overflow-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th class="w-[16%]">Nom</th>
          <th class="w-[16%]">Date de rendez-vous</th>
          <th class="w-[16%]">Status</th>
          <th class="w-[16%]">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.name }}</td>
          <td>{{ patient.apointmentDate }}</td>
          <td>
            <div class="flex gap-2 pr-0 items-center h-full">
              <div class="w-3 h-3 rounded-full bg-[#0AD880]" [ngClass]="{'bg-[#0AD880]': patient.status === 'in_consultation', 'bg-[#F8AF26]': patient.status === 'waiting'}">
                <div class="w-3 h-3 rounded-full bg-[#0AD880] animate-ping" [ngClass]="{'bg-[#0AD880]': patient.status === 'in_consultation', 'bg-[#F8AF26]': patient.status === 'waiting'}"></div>
              </div>
              <span>{{ getStatus(patient.status) }}</span>
            </div>
          </td>
          <td [ngSwitch]="patient.status" class="flex gap-2">
            <button *ngSwitchCase="'in_consultation'" class="btn btn-primary rounded-md" (click)="endConsultation(patient)">Terminer la consultation</button>
            <button *ngSwitchCase="'waiting'" class="btn btn-primary rounded-md" (click)="startConsultation(patient)">Démarrer la consultation</button>
            <button class="btn btn-square" (click)="openEditModal(patient)"><img src="assets/images/edit.png" alt="edit" class="w-1/2 h-1/2" /></button>
            <button class="btn btn-square" (click)="openDeleteModal(patient)"><img src="assets/images/delete.png" alt="delete" class="w-1/2 h-1/2" /></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
